.home-header{

}
 
.home-ul{
   text-decoration: none;
   list-style: none;
   display:flex;
   justify-content: flex-end;

} 

.home-ul li{
   font-size: 20px;
   color:blue
}

h2{
   font-size: 40px;
}

.home-ul li {
   color: black;
   font-size: 20px;
   font-weight: 500;
}img {
   
   border-radius:500px; 
}

img{
height:200px;
   width:200px;
}
.sect-one{
   display: flex;
   padding: 40px;
}
.SIMDI{
   text-decoration: none;
padding: 10px;
}
 .was{
   
color: tomato;
}
button{
background-color: red;
border: 500px;
padding: 20px;
}
   #lion{
      display: flex;
   }
   #sect-two-first-child{
      display:flex;
      justify-content: space-between;
   }