.home-header {}

.home-ul {
   text-decoration: none;
   list-style: none;
   display: flex;
   justify-content: flex-end;

}

.home-ul li {
   font-size: 20px;
   color: blue
}

.design-h2 {
   font-size: 30px;
}

.home-ul li {
   color: black;
   font-size: 20px;
   font-weight: 500;
}
.myImg {
   border-radius: 500px;
   height: 200px;
   width: 200px;
}

.sect-one {
   display: flex;
   padding: 40px;
}

.SIMDI {
   text-decoration: none;
   padding: 10px;
}

.was {

   color: tomato;
}

.simdis-button {
   background-color: red;
   border: 500px;
   padding: 20px;
}

#lion {
   display: flex;
}

#sect-two-first-child {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* background-color: white; */
}
#section-two-second-child{
   display: flex;
   justify-content: space-between;
   /* background-color: white; */
   
}
.sim {
   background-color: white;
}
#sect-two-left{
   margin-right:20px;
}

.sect-two{
   background-color: #edf7fa;
   padding: 50px 0;
}
.life{
   display:flex;
}
.blog-child {
   display: flex;
}
.blog-button-parent {
   display: flex;
}
.blog-button {
   background: pink;
   border-radius: 16px;
   color: black
   font-size- 18px;
   font-weight: 900;
   /* padding: 0px 13px; */
   margin-right: 20px;
   /* border-style: none; */
}